h1 {
  padding: 0rem;
}
.container_card {
  padding: 1rem;
  padding-top: 0;
}
.profile {
  border: 2px solid #457b9d;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 70vw;
}
/* Existingprofiles.module.scss */
