@use '../../../assets/global-styles/App.scss';

.header {

    &_title {
        padding: 1rem;
        padding-left: 0.5rem;
        margin: 0;
        color: white;
    }

    nav {
        display: flex;
        align-items: center;
        position: relative;
        gap: 1rem;
    }

    .menuButton, .homeButton {
        font-size: 16pt;
        padding-left: 1rem;
        padding-right: 1rem;
        color: white;
    }

    .menu {
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
        background: white;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 100%;
        left: 0;
        width: 200px;
        z-index: 100;

        li {
            padding: 10px;
            border-bottom: 1px solid #ddd;

            &:last-child {
                border-bottom: none;
            }

            a {
                font-size: 11pt;
                text-decoration: none;
                color: #333;
                display: block;
                transition: color 0.3s ease;

                &:hover {
                    color: #3f8037;
                }
            }
        }

        &.open {
            max-height: 200px;
            opacity: 1;
        }
    }
}
