@import '../../../assets/color-variables/colors.scss';

.currentStudy {
    padding: 1rem;

    &_card {
        border: 2px solid $border;
        border-radius: 5px;
        padding: 1rem;
        margin-bottom: 1rem;

        &_buttons {
            display: flex;
            max-width: 40%;
            justify-content: space-between;
            gap: 1rem;
            margin-left: 0;
            padding-left: 0;

            &>button {
                padding: 0.4rem;
                width: 100%;
            }
        }
    }
}