@use './color-variables/colors.scss' as *;

a:visited {
    color: $text
}

p {
    color: $text;
}

button {
    background-color: $secondary_btn;
    border: 2px solid $border;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}