// Imports //
@use './color-variables/colors.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
// Imports END //

// Global styles //
body {
    padding: 0;
    margin: 0;
    background-color: $bg_white;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;

    &>h1 {
        padding-right: 1em;
    }

    &>nav {
        font-size: 16pt;
        width: 200px;
        display: flex;
        align-items: center;
        position: relative; // Ensures menu is positioned correctly

        .header_menu-button {
            background: $secondary_btn;
            font-size: 16pt;
            width: 100%;
            color: black;
            border: none;
            opacity: 0.8;
            padding: 0.5rem 1rem;
            cursor: pointer;
            border-radius: 0;
            height: 100%;
            transition: 0.3s ease;

            &:hover {
                opacity: 1;
            }
        }

        .header_menu {
            list-style: none;
            padding: 0;
            margin: 0;
            overflow: hidden;
            max-height: 0;
            opacity: 0;
            transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
            background: white;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            position: absolute;
            top: 100%; // Places dropdown right below the button
            right: 0;
            width: fit-content;
            z-index: 100; // Keeps menu on top

            li {
                padding: 10px;
                border-bottom: 1px solid #ddd;
                font-size: 12pt;

                &:last-child {
                    border-bottom: none;
                }

                a {
                    text-decoration: none;
                    display: block;
                    transition: color 0.3s ease;

                    &:hover {
                        color: #007bff;
                    }
                }
            }

            &.open { // Controls dropdown visibility
                max-height: 200px;
                opacity: 1;
            }
        }
    }
}
