@import '../../assets/global-styles/App.scss';

.study {
    padding: 1rem;
    padding-top: 0;

    &__title {
        font-size: 1.3rem;
        font-weight: 600;
        margin: 0;
    }

    &__description {
        padding: 0;
    }
}

