@use '../../../assets/global-styles/App.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createSections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;

    &__artifacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    &__header {
        text-align: center;
    }

    &__artifactDisplay {
        max-width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__upload {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
}
