@import '../../assets/global-styles/App.scss';

.study {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    &_button {
        font-size: 20pt;
        padding: 1rem;
        color: white;
        background-color: var(--secondary-btn-color);
    }
}