@import '../../assets/color-variables/colors.scss';

.study {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    padding-top: 2em;

    &_button {
        font-size: 20pt;
        padding: 1rem;
    }
}