@use '../newstudy.module.scss';


.remove_btn{
    max-width: 40px;
    max-height: 40px;
    border-radius: 20px;
    position: absolute;
    right: 5%;

}
h1{
    text-align: center;
}
.addQuestion__btn{
    padding: 10px;
    border-radius: 5px;
    display: block;
    margin-bottom: 2rem;
    margin-left: 40px;
}

.card{
    position: relative;
}